*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E3F4F4;
  
}

.landing{
  margin-left: 200px;  
}

.landingCaption {
    color: black;
}

.nav-bg {
    background-color: #C4DFDF;
}
.ml-auto {
    margin-left: auto;
}
.regForm {
    background-color: #D2E9E9;
    padding: 20px;
    margin: 20px;
}